.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96vw;
    height: 95vh;
    flex-direction: column;
    
}

.roomsModal {
    position: absolute;
    top:2.5vh;
    left: 2vw;
    display: flex;    
    width: 96vw;
    height: 95vh;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(2, 1, 0, 0.85);
    background-blend-mode: darken;
    border: 5px solid #d6a466;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    filter: blur(0px);
    border-radius: 7px;
    z-index:2;
    padding: 20px;
}

.ModalContainer {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
}

.closeButton {
    position: absolute;
    width: 3vw;
    height: 3vw;
    left: 3vh;
    top: 3vh;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(104%) contrast(101%);
    
}

.closeButton:hover {
    filter: invert(97%) sepia(15%) saturate(7300%) hue-rotate(309deg) brightness(93%) contrast(79%);
}

.roomBackButton {
    width: 3vw;
    height: 3vw;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(104%) contrast(101%);  
    transform: rotate(180deg)
}

.roomBackButton:hover {
    filter: invert(97%) sepia(15%) saturate(7300%) hue-rotate(309deg) brightness(93%) contrast(79%);
}

.roomNextButton {
    width: 3vw;
    height: 3vw;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(104%) contrast(101%);  
}

.roomNextButton:hover {
    filter: invert(97%) sepia(15%) saturate(7300%) hue-rotate(309deg) brightness(93%) contrast(79%);
}

.roomsTitle {
  
   
    width: 96vw;
}

.roomsTitle-text {
    color: white;
    font-family: 'Baskerville Old Face';
    font-size: 48px; 
    text-align: center;
    margin-bottom: 10vh;
    
}

.roomsSubTitle {
 
    width: 96vw; 
}

.roomsSubTitle-text {
  
    color: white;
    font-family: 'Baskerville Old Face';
    font-size: 24px;
    margin-bottom: 0vh;
    text-align: center;
    
 
}

.roomGrid {
    width: 75vw;
    /* display: flex;
    align-self: center;
    justify-content: center;   */
  
}
.roomElement {
    /* display: flex;
    align-items: center; */
    flex-direction: column;
    border: 0px solid #b78548;
    box-sizing: border-box;
    width: 70vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
    border-radius: 5px;
    background-color: rgba(214, 164, 102, 0.2);
    margin: 3vh;
    margin-bottom: 6vh;
}

.roomElement-title {
    font-family: 'Baskerville Old Face';
    font-size: 24px;
    color: #020100;
    margin-bottom: 30px;
    margin-top: 30px;
   text-align: center;
}

.roomButton {
    align-self: center;
    background-color: #d6a466;
    border-color: #b78548;
    border-radius: 5px;
    height: 48px;
    width: 10vw;
    font-family: 'Baskerville Old Face';
    font-size: 20px;
    align-items: center;
    justify-content: center;
   margin-left: 4px;
    margin-bottom: 30px;
}

.roomButton:hover {
    opacity: 0.7;
}

.roomRow {
    margin-top: 5vh;
    width: 45vw;
    justify-content: space-between;
    display: flex;

}

.roomsContainer {
    z-index: 1;
     width: 93vw;
    height: 83vh;  
    
}

.roomsPhotos {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
}

.carouselContainer {
   
    width: 60vw;
}