.datePicker {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 40vh;
    justify-content: center;
    flex:1;
  
}

/* Dates font */
.sc-AxirZ{
    font-size: 20px;
}

.Submit {
    display: flex;
    align-self: center;
    background-color: #d6a466;
    border-color: #b78548;
    border-radius: 5px;
    height: 48px;
    width: 15vw;
    font-family: 'Baskerville Old Face';
    font-size: 20px;
    padding-left: 20px;
    padding-right:20px;
    align-items: center;
    justify-content: center;
    margin-left:20px;
    margin-right:20px;
}

.Submit:hover {
    opacity: 0.5;
}

.Input {
    border-width: 0px;
    font-family: 'Baskerville Old Face';
    font-size: 16px;
    width: 4vw;
    height: 3vh;
}

.Input::placeholder {
    color: #9c9fa1;
    font-size: 14px;
}

.inputPeople {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 20px;
}

.inputLabel {
    filter: invert(69%) sepia(7%) saturate(124%) hue-rotate(161deg) brightness(92%) contrast(84%);
    padding-left: 3px;
}

.inputContainer {
    margin-left: 10px;
    border: 1px solid #BCBEC0;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 46px;
    width: 8vw;
    background-color: #ffffff;
}