.roomPic {
    width: 78vw;
    height: 52vh;
}

.paginationPic {
    height: 16vh;
    width: 8vw;
  margin-right: 1vw;
  margin-left: 1vw;
}

.paginationRow {
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
   
}