.Modal {
    position: absolute;
    top:2.5vh;
    left: 2vw;
 
    width: 96vw;
    height: 95vh;
    flex-direction: column;
    background: rgba(2, 1, 0, 0.85);
    background-blend-mode: darken;
    border: 5px solid #d6a466;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    filter: blur(0px);
    border-radius: 7px;
    z-index:1;
}


.closeButton {
    position: absolute;
    width: 3vw;
    height: 3vw;
    left: 3vh;
    top: 3vh;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(104%) contrast(101%);
    cursor:pointer;
    
}

.closeButton:hover {
    filter: invert(97%) sepia(15%) saturate(7300%) hue-rotate(309deg) brightness(93%) contrast(79%);
}

.contactTitle {
    color: white;
    font-family: 'Baskerville Old Face';
    font-size: 4em;
}

.formContainerContact {
    
    z-index: 2;
    width: 68vw;
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.telefonStyle {
 
    
    font-family: 'Baskerville Old Face';
    font-size: 3em;
    color: #d6a466
}

.ContactInput {
    font-family: 'Baskerville Old Face';
    font-size: 2.25em;
 width: 26vw;
 height: 3.8vh;
 background-color:rgba(2, 1, 0, 0.01);
 color: white;
 border-width: 0px;
 border-bottom-width: 2px;
 
}
.phoneNumber {
    font-family: 'Baskerville Old Face';
    color: white;
    font-size: 2.25em;
}
.ContactinputContainer {
    
    margin-top: 0.53vh;
}

.phoneSeparator { 
    border-bottom: 0.4vh solid white;
    width: 26vw;
}

.emailStyle {
    margin-top: 3vh;
    
    font-family: 'Baskerville Old Face';
    font-size: 3em;
    color: #d6a466
}

.ContactInputContainerEnd {
   
    margin-top: 8.3vh;
}

.ContactSmallerInput {
    font-family: 'Baskerville Old Face';
    font-size:  1.5em;
    width: 26vw;
    height: 5.8vh;
    background-color:rgba(2, 1, 0, 0.01);
    color: white;
    border-width: 0px;
    border-bottom-width: 2px;
}

.contactButtonContainer {
   
    align-self: center;
}

.ConfirmContact {
    position: absolute;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
    z-index: 6;
    top: 0vh;
    left:0vw;

    
}

.ConfirmContactContainer {
    position: absolute;
    bottom:0;
    left:0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
    z-index: 3;
   
}

.confirmContactButton {
    align-self: center;
    background-color: #d6a466;
    border-color: #b78548;
    border-radius: 5px;
    height: 5vh;
    width: 15vw;
    font-family: 'Baskerville Old Face';
    font-size: 1.25em;
    color: black;
    padding-left: 1vw;
    padding-right:1vw;
    align-items: center;
    justify-content: center;
    margin-left:1vw;
    margin-right:1vw;
    margin-bottom: 3.1vh;
    margin-top: 4vh;
    transition: 0.3s;
    cursor:pointer;
}

.confirmContactButton:hover {
    opacity: 0.5;
}

.sendButton {
    align-self: center;
    background-color: #d6a466;
    border-color: #b78548;
    border-radius: 5px;
    height: 5vh;
    width: 15vw;
    font-family: 'Baskerville Old Face';
    font-size: 1.25em;
    color: black;
    padding-left: 1vw;
    padding-right:1vw;
    align-items: center;
    justify-content: center;
    margin-left:1vw;
    margin-right:1vw;
    margin-bottom: 3.1vh;
    margin-top: 4vh;
    transition: 0.3s;
    cursor:pointer;
}

.sendButton:hover {
    opacity: 0.7;
}

.confirmContactInner {
    background-color: #d6a466;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 26.4vh;
    border: 5px solid #b78548;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(0px);
    border-radius: 7px;
    padding-top: 5vh;
}

.confirmMessageStyle{
    font-family: 'Baskerville Old Face';
    font-size: 1.875em;
    color: black;
}