.Modal {
    position: absolute;
    top:2.5vh;
    left: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96vw;
    height: 95vh;
    flex-direction: column;
    background: rgba(2, 1, 0, 0.85);
    background-blend-mode: darken;
    border: 5px solid #d6a466;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    filter: blur(0px);
    border-radius: 7px;
    z-index:2;
}

.ModalContainer {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
}

.closeButton {
    position: absolute;
    width: 3vw;
    height: 3vw;
    left: 3vh;
    top: 3vh;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(104%) contrast(101%);
    
}

.closeButton:hover {
    filter: invert(97%) sepia(15%) saturate(7300%) hue-rotate(309deg) brightness(93%) contrast(79%);
}

.title {

    color: white;
    font-family: 'Baskerville Old Face';
    font-size: 48px;
    justify-content: center;
    display: flex;
    width: 95vw;
    align-self: flex-start;
}

.subTitle {

    color: white;
    font-family: 'Baskerville Old Face';
    font-size: 24px;
    justify-content: center;
    display: flex;
    width: 95vw;
    align-self: flex-start;
    margin-bottom: 5vh;

}