.App {
 height: 100vh;
 width: 50vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menuIcon {
  width: 3vw;
  height: 3vw;
  margin-left: 3vh;
  margin-top: 3vh;
}

.menuIconContainer{
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
}

.menuIcon:hover {
  filter: invert(97%) sepia(15%) saturate(7300%) hue-rotate(309deg) brightness(93%) contrast(79%);
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.span{
  display: flex;
  height: 100%;
}