.Modal {
    position: absolute;
    top:2.5vh;
    left: 2vw;
    display: flex;    
    width: 96vw;
    height: 95vh;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(2, 1, 0, 0.85);
    background-blend-mode: darken;
    border: 5px solid #d6a466;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    filter: blur(0px);
    border-radius: 7px;
    z-index:2;
    padding-top: 20px;
}

.ModalContainer {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
}

.closeButton {
    
    width: 3vw;
    height: 3vw;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(104%) contrast(101%);
}

.closeButtonContainer{
    position: absolute;
    width: 3vw;
    height: 3vw;
    left: 3vh;
    top: 3vh;
}

.closeButton:hover {
    filter: invert(97%) sepia(15%) saturate(7300%) hue-rotate(309deg) brightness(93%) contrast(79%);
}

.title {   
    display: flex;
    justify-content: flex-start;
    width: 95vw;
    margin-top: 0vh;
}

.titleText {
    color: white;
    font-family: 'Baskerville Old Face';
    font-size: 48px; 
    margin-top: 0vh;
    margin-bottom:0vh;
}

.subTitle {
    justify-content: center;
    display: flex;
    width: 96vw;    
    margin-bottom: 15vh;
    margin-left:2vw;
    margin-top: 2vh;
}

.subTitleText  {
    display: flex;
    align-self: center;
    color: white;
    font-family: 'Baskerville Old Face';
    font-size: 24px;
    margin-bottom: 0vh;
}
.bookHeader { 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width:100%;
    margin-top: 0;
    padding-bottom: 3vh;
}

.bookNavigator {
    height: 10vh;
    width: 45vw;
    background-color: #d6a466;
    border: 5px solid #b78548;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin-top: 2vh;
    margin-left:1vw;
}

.stageContainer {
    height: 10vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.stage {
    font-family: 'Baskerville Old Face';
    font-size: 24px;
    
}

.subStage {
    font-family: 'Baskerville Old Face';
    font-size: 20px;
}


.stageSelected {
    height: 10vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

.formContainer {
    width: 100vw;
}

.formStyle {
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    display:flex;
    flex-direction: row;
}


.formTextInput {

    margin-left: 2.5vw;
    margin-bottom:1,5vh;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    height: 3vh;
    width: 12.5vw;
    border-width: 0px;
    border-bottom-width: 0.2vh;
    border-color: #d6a466;
    background-color:rgba(2, 1, 0, 0.01);
    color: white;
    font-family: 'Baskerville Old Face';
    font-size: 20px;
}

.formTextInput::placeholder {
    color: whitesmoke;
    opacity: 0.8;
    
}

.formAddress {
    width: 44vw;

}

.formEmail {
    width: 14vw;
}

.formStatements {
    color: white;
    font-size: 22px;
    font-family: 'Baskerville Old Face';
    margin-left: 2.5vw;
}

.submitButton {
    display: flex;
    align-self: center;
    background-color: #d6a466;
    border-color: #b78548;
    border-radius: 5px;
    height: 48px;
    width: 15vw;
    font-family: 'Baskerville Old Face';
    font-size: 20px;
    padding-left: 1vw;
    padding-right:1vw;
    align-items: center;
    justify-content: center;
    margin-left:1vw;
    margin-right:1vw;
}

.submitButton:hover {
    opacity: 0.7;
}

.paymentMethod {
    display: flex;
    align-self: center;
    background-color: #d6a466;
    height: 5vh;
    font-family: 'Baskerville Old Face';
    font-size: 20px;
    padding-left: 1vw;
    margin-top:1vh;
    border-width:0px;
    border-style: none;
    border-image: none;
}

.paymentMethod:hover {
    opacity:0.7;
}
.componentContainer {
    /* padding-bottom: 3vh; */
    height: 62vh;
    /* background-color: wheat; */
}

.SubmitStage {
    background-color: #d6a466;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 5px;
    height: 5vh;
    width: 9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Baskerville Old Face';
    margin: 20px;
    border-width: 10px;
    border-color: #b78548;
}

.SubmitStage:hover {
    opacity:0.7;
}

.buttonContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-left:1vw;
}

.roomGrid {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 4vh;
    
}

.selectMore{
    color:white;
}

.bookingButton {
    align-self: center;
    background-color: #d6a466;
    border-color: #b78548;
    border-radius: 5px;
    height: 5vh;
    width: 10vw;
    font-family: 'Baskerville Old Face';
    font-size: 20px;
    align-items: center;
    justify-content: center;
   margin-left: 4px;
   
}

.counterText {
text-align: center;
background-color: wheat;
width: 2vw;

}

.disableCounterText{
    text-align: center;
background-color: wheat;
width: 2vw;
pointer-events: none;
}

.counterContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 1vh;
   height: 2vh;
 
}



.roomElementBooking {
    background-color: rgba(255,255,255,0.2);
    width: 10.4vw;
    border-radius: 5px;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roomElement {
    background-color: rgba(255,255,255,0.2);
    width: 10.4vw;
    border-radius: 5px;
}

.roomImage {
    width: 10.4vw;
    height: 10.5vh;
    border-radius: 5px;
}

.elementTitle-container {
    width: 10.4vw;
}

.elementTitle {
    text-align: center;
    font-family: 'Baskerville Old Face';
    font-weight: bold;
    font-size:24px;
    color: white;
}

.elementSubtitle-container {
    width: 10.4vw;
}

.elementSubtitle {
    text-align: center;
    font-family: 'Baskerville Old Face';
    font-size:16px;
    color: white;
}

.elementPrice-container {
    width: 10.4;
}

.componentContainer {
    /* margin-top: 20vh; */
}

.test {
    flex-direction: 'column';
}
.elementPrice {
    text-align: center;
    font-family: 'Baskerville Old Face';
    font-weight: bold;
    font-size:20px;
    color: #d6a466;

}

.dateRangeInputPosition {
    margin-top: 20vh;
}

.bookingStage1Modal {
    position: absolute;
    top:2.5vh;
    left: 2vw;
    display: flex;    
    width: 96vw;
    height: 95vh;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(2, 1, 0, 0.85);
    background-blend-mode: darken;
    border: 5px solid #d6a466;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    filter: blur(0px);
    border-radius: 7px;
    z-index:2;
    padding: 20px;
}